@navitem-active-bg: darken(@purple-primary, 4%);

body.page-home {
	background-color: @brand-primary;
	color: @gray-lighter;
	
	a:not(.btn) {
		&:hover, &:active {
			color: @gray-light;
		}
	}
	

	.navbar-default {
		border: 0 none;
		.navbar-nav {
			> li > a {
				color: @gold-primary;
				
				&:hover, &:active {
					color: @gold-primary;
					background-color: @navitem-active-bg;
				}
			}

			> .open > a {
				color: @gold-secondary;
				background-color: @navitem-active-bg;
			}
		}
	}

	a.navbar-brand {
		color: @purple-light;
	}	

	

	.intro {
		position: absolute;
		bottom: 40px;
		width: 100%;
		left: 0;
		text-align: center;
		
		.jumbotron {
			color: @gray-lighter;
			background-color: transparent;
			
			h1{ 
				font-size: floor(@font-size-h1 * 1.5); 
				font-family: @font-family-serif;
			}
		}
	}
}