body.page-home {
	background-color: @brand-primary;
	color: @gray-lighter;

	a {
		color: @gold-primary;
		&:hover {
			color: @gray-light;
		}
	}
	
	.intro {
		position: absolute;
		bottom: 40px;
		width: 100%;
		left: 0;
		text-align: center;
		
		.jumbotron {
			color: @gray-lighter;
			background-color: transparent;
			
			h1{ font-size: @font-size-h1; }
		}
	}
}