/** navbar */
.navbar {
	border-width: 0 0 1px;
	.navbar-nav > li > a {
		font-weight: 700;
		font-family: @font-family-sans-serif;
	}
}

/* Crisis */
.crisis-heading { 
	.crisis-description {
		font-family: @font-family-serif;
	}
}

.crisis-author {
	font-size: @font-size-small;
}

.crises-list-item {
	border-radius: @border-radius-base;
	background-color: @gray-lighter;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	overflow: hidden;

	.crisis-heading {

		.crisis-title, 
		.crisis-description, 
		.crisis-author {
			padding: 0 10px;
			display: block;
		}

		.btn-investigate {
			margin-top: 20px;
			display: block;
			border: 0 none;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

	}
}

.crisis-content {
	.crisis-heading {
		overflow: hidden;
		.crisis-title {
			margin-top: 0;
		}
	}
}