#board.ui-selectable {
    border: 1px black dotted;
    margin: 20px 0;
}

#board .ui-selecting {
	background-color: #0cc;
}
#board .ui-selecting > * {
	opacity: 0.7
}

#board .ui-selected {
	background-color: #0cc;
}

.wrapper-medium {
	padding: 5px;
	position: absolute;
	border: 1px solid #efefef;
}

.wrapper-medium:hover {
	border-color: #0cc;
}

img.item-medium {
	display: block;
	width: 100%;
	height: 100%;
}

.ui-draggable:hover,
.ui-draggable:active {
	cursor: move;
}

.ui-resizable {
	margin: 0 auto;
	pointer-events: all;
	background-color: #fff;
}

/*Medium meta/attributes */
ul.attributes,
ul.attributes li {
	margin: 0;
	list-style: none;
}

ul.attributes li { 
	clear: both;
	border-bottom: 1px dotted #ccc;
	padding: 5px 0;
}

ul.attributes li .remove-attribute {
	float: right;
}

ul.attributes li .remove-attribute:hover {
	color: red;
	cursor: pointer;
}


/*Plumbing*/
.connector {
	background-color: #064;
	height: 20px;
	width: 20px;
	display: inline-block;
}

/* Maps */
.map.leaflet-container {
	width: 100%;
	height: 100%;
}

.marker-popup {
	width: 250px;
	max-width: 250px;
}
.relation-item-marker {
	padding: 5px;
	margin-bottom: 5px;
}
.relation-item-marker:hover {
	background-color: #fa8;
}
.highlight-relative {
	border: 2px dashed #ca8;
}

.marker-relative-endpoint {
	position: fixed;
}

/* Temporary */
.meta-medium { 
	width: 100%;
	max-width: 350px;
	max-height: 300px;
	overflow: auto;
}
