div.wrapper-medium {
	position: absolute;
	border: 1px solid #efefef;
}

div.wrapper-medium:hover {
	border-color: #0cc;
}

.wrapper-medium, 
.resizable {
	transition: all ease-in 0.3s;
}

.wrapper-medium.dragging-active,
.resizable.resizing-active {
	transition: none 0ms;
}

img.item-medium {
	display: block;
	width: 100%;
	height: 100%;
}

.ui-draggable:hover,
.ui-draggable:active {
	cursor: move;
}