body, html {
	min-height: 100%;
	height: 100%;
}

body > .container, #main {
	height: 100%;
}

#board.ui-selectable {
    border: 1px black dotted;
    margin: 20px 0;
	height: 700px;
}

#board .ui-selecting {
	background-color: #0cc;
}
#board .ui-selecting > * {
	opacity: 0.7
}

#board .ui-selected {
	background-color: #0cc;
}

.entity-outer {
	position: absolute;
	opacity: 0.7;
	z-index: 0;
}

.entity-outer:hover {
	opacity: 1;
}

.entity-outer,
.entity-inner {
	/*Default dimensions for entities*/
	width: 300px;
	height: 200px;
}

.entity-controls {
	padding: 3px 5px;
	background-color: #c0c0c0;
}

.entity-inner {
	padding: 3px;
	border: 2px dashed rgba(255,255,255, 0.0);
	background-color: #f8f8f8;
}

.entity-inner:hover,
.entity-outer:hover .entity-inner,
.entity-outer.ui-selecting .entity-inner {
	border-color: #0cc;
}

.entity-item-media > img {
	display: block;
	width: 100%;
	height: 100%;
}

.ui-draggable:hover,
.ui-draggable:active,
:not(.ui-draggable > * > *) {
	cursor: move;
}

.ui-resizable {
	margin: 0 auto;
}

.dropdown-form {
	padding: 5px;
	z-index: 1001;
}

/*Medium meta/attributes */
/* Certainity */
.bar-certainity {
	width: 100%;
	height: 12px;
	display: block;
	padding: 3px;
	background-color: #f8f8f8;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.bar-certainity .bar-confidence {
	width: 0;
	display: block;
	height: 100%;
	background-color: #e63;
	border-radius: 10px;
}


/* Maps */
.map.leaflet-container {
	width: 100%;
	height: 100%;
}

.marker-popup {
	width: 250px;
	max-width: 250px;
}


.relative-entity-item {
	line-height: 0;
	width: 34px;
	height: 34px;
	opacity: 0.7;
	margin-right: 5px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

.relative-entity-item > img.entity-thumbnail-media {
	width: 100%;
	height: auto;
}

.relative-entity-item:hover {
	cursor: hand;
	opacity: 1;
}

.marker-relative-endpoint {
	position: fixed;
}

.highlight-entity {
	border: 2px dashed #ca8;
}

/* Temporary */
.meta-medium { 
	width: 100%;
	max-width: 350px;
	max-height: 300px;
	overflow: auto;
}