<template name="crises">
  {{#if currentUser}}<p><a href="{{pathFor 'newCrisis'}}" class="btn">Add a Crisis</a></p>{{/if}}
    <div class="crises-list">
      {{#each crises}}
        <div class="col-md-3">
            <div class="crises-list-item">
              {{> crisisHeading }}
            </div>
        </div>
      {{/each}}
    </div>
</template>

<template name="crisisHeading">
  <div class="crisis-heading">
    <h3 class="crisis-title">{{dctermsTitle}}</h3>
        <p class="crisis-description">{{dctermsDescription}}</p>
        <p class="crisis-author">submitted by {{getAgentName agent}}</p>
        {{#if isOwner agent}}<a href="{{provEditLink}}">Edit</a>{{/if}}
        {{#if isCrisisContentPage}}
            <!--  -->
        {{else}}
            <a href="{{provLink}}" class="btn btn-sm btn-success btn-investigate">Investigate</a>
        {{/if}}
        
  </div>
</template>

<template name="newCrisis">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="dctermsTitle">Title</label>
        <div class="controls">
            <input name="dctermsTitle" type="text" value="" placeholder="Title for this crisis"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dctermsDescription">Description</label>
        <div class="controls">
            <textarea name="dctermsDescription" type="text" value="">Brief description of this crisis</textarea>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>

<template name="editCrisis">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="dctermsTitle">Title</label>
        <div class="controls">
            <input name="dctermsTitle" type="text" value="" placeholder="{{dctermsTitle}}"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dctermsDescription">Description</label>
        <div class="controls">
            <textarea name="dctermsDescription" type="text" value="">{{dctermsDescription}}</textarea>
        </div>
    </div> 

    <div class="control-group">
        <label class="control-label" for="reason">Reason for change</label>
        <div class="controls">
            <input name="reason" type="text" value="" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>

    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete crisis</a>
        </div>
    </div>
  </form>
</template>