<template name='freeform'>
    {{> tools}}
    <div id="board">
        <ol>
            {{#each provHadMember}}
                {{#with entityWithAttributes}}
                    {{> entity}}
                {{/with}}
            {{/each}}
            
        </ol>
    </div>
</template>

<template name="entity">
    <div id="{{ this.entity.mrOrigin }}" class="entity-outer" style="{{entityAttributes 'outer'}}">
        <div class="entity-controls">
            <div class="btn-group">
                <a class="entity-info btn btn-primary btn-xs"><i class="fa fa-info-circle"></i></a>
                <span class="faux-dragger btn btn-primary btn-xs"><i class="fa fa-arrows"></i></span>
                <span class="connector btn btn-primary btn-xs"><i class="fa fa-random"></i></span>
                <a class="entity-remove btn btn-primary btn-xs"><i class="fa fa-times"></i></a>
            </div>
            {{#if title}}
                <span class="label label-default">{{ title }}</span>
            {{/if}}
        </div>
        <div class="entity-inner entity-item-{{entityType}}"  style="{{entityAttributes}}">
            {{> UI.dynamic template=entityType data=this.entity }}
        </div>
    </div>
</template>

<template name="media">
    {{#if isEntityType "image"}}
        <img src="{{provAtLocation}}" />
    {{else}}{{#if isEntityType "text"}}
        {{mrContent}}
    {{else}}{{#if isEntityType "video"}}
        <iframe width="100%" height="100%" src="{{provAtLocation}}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
    {{/if}}{{/if}}{{/if}}
</template>

<template name="map">
    <div id="{{mrOrigin}}-map" class="map"></div>
</template>

<template name="timeline">
    <div id="{{mrOrigin}}-timeline" class="timeline"></div>
</template>

<template name="panel">
    <div id="{{mrOrigin}}-panel" class="timeline">
        {{#each provHadMember}}
            {{#with entityWithAttributes}}
                {{> entity}}
            {{/with}}
        {{/each}}
    </div>
</template>

<template name="inspector">
    This is inspector
</template>


<template name="entityInfo">
    {{#with latestInfo}}
        {{!-- Entity options --}}
        <div class="entity-info-tools">
            <a href="#" class="btn btn-default btn-xs edit-entity"><i class="fa fa-pen"> Edit Enitty</i></a>
            <a class="btn btn-danger btn-xs remove-entity"><i class="fa"></i>Remove Entity</a>
            <a class="btn btn-default btn-xs add-atrribute"><i class="fa"></i>Add Attribute</a>
            <a class="btn btn-default btn-xs add-relation"><i class="fa"></i>Add Relation</a>
        </div>
         <div class="edit-entity-form collapse">
            {{> UI.dynamic template=entityFormTemplate data=this}}
        </div>

        <div class="entity-info">
            {{> UI.dynamic template=entityInfoTemplate data=this}}
        </div>

        {{> displayAttributes this}}
        {{> displayRelations this}}
    {{/with}}
</template>

<template name="displayAttributes">
    <div class="attributes">
        <h4>Attributes</h4>
            <ul class="list-group">
            {{#each groupedAttributes}}
                <li class="list-group-item">
                    <h5>Label: <strong>{{mrLabel}}</strong></h5>
                    <button class="btn btn-danger btn-xs delete-attribute-and-values"><i class="fa fa-times"></i> Delete value</button>
                    
                    <ol>
                        {{#each values}}
                            <li>
                                <strong>{{mrValue}}</strong>: {{certainityCount}} person(s) agree 
                                <button class="btn btn-danger btn-xs delete-attribute-value"><i class="fa fa-times"></i> Delete value</button>
                                <button class="btn btn-info btn-xs agree-attribute-value"><i class="fa fa-thumbs-up"></i></button>
                                <div class="agree-attribute-form well collapse">
                                    {{> formAgreeAttribute data=this standalone=true}}
                                </div>
                                {{#each groupedCertainity}}
									<p>
										{{#with confidence}}
											{{printArray upAssertionConfidence '-'}}%
		                                    <div class="bar-certainity">
                                                <div class="bar-confidence-offset" style="width:{{confidenceMin}}%;"></div>
		                                        <div class="bar-confidence" style="width: {{confidenceRange}}%"></div>
		                                    </div>
										{{/with}}
	                                    {{#each this}}
		                                    <span class="label label-default label-tooltip" title="{{mrAssertionReason}}">{{getAgentNameById this.mrAssertionBy}}</span>
	                                    {{/each}}
									</p>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ol>
                </li>      
            {{/each}}
            </ul>
    </div>
</template>

<template name="displayRelations">
    <div class="relations">
        <h4>Relations</h4>
        {{#each relations 'mrTarget'}}
            {{#if isRendered 'mrTarget'}}
                <span class="relative-entity-item">{{> displayThumbnail getEntity mrTarget}}</span>
            {{/if}}
        {{/each}}
    </div>
</template>

<template name="entityEventInfo">
    <div class="event-info">
        <h4>Event: {{dctermsTitle}}</h4>
        <div class="well well-sm">
            <i class="fa fa-clock-o"></i>
            {{prettyDate mrStartDate}} 
            {{#if mrEndDate}} - {{prettyDate mrEndDate}} {{/if}}
        </div>
    </div>
    
</template>

<template name="displayThumbnail">
    {{#if isEntityType "image"}}s
        <img src="{{provAtLocation}}" class="entity-thumbnail entity-thumbnail-media">
    {{else}}{{#if isEntityType "text"}}s
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-paragraph fa-stack-1x fa-inverse"></i>
        </span>
    {{else}} {{#if isEntityType "video"}}s
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
        </span>
    {{else}} {{#if isEntityType "map"}}s
        <i class="fa fa-globe fa-3x"></i>
    {{else}} {{#if isEntityType "timeline"}}s
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
        </span>
    {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
</template>

<template name="formAttribute">
    <div>
        <form>
            <input type="text" class="form-control" name="attribute-label" placeholder="Label" value="{{label}}"/>
            <input type="text" class="form-control" name="attribute-value" placeholder="Value" value="{{value}}"/>
            {{> formAgreeAttribute}}
            <button class="btn btn-success btn-block btn-sm" type="submit"><i class="fa fa-check"></i> Save Annotation</button>
        </form>
    </div>
</template>

<template name="formAgreeAttribute">
    <form name="agree-attribute">
        <input type="text" class="form-control" name="attribute-certainity" placeholder="Certainity Level % (eg. 25%, 55-75% )"/>
        <div class="input-slider"></div>
        <small><span class="help-block">Certainity Level % (eg. 25%, 55-75% )</span></small>
        <input type="text" class="form-control" name="attribute-reason" placeholder="Reason" value="{{userCertainity.mrAssertionReason}}"/>
        {{#if standalone}}
            <button class="btn btn-success btn-block btn-sm" type="submit"><i class="fa fa-check"></i> Agree to value</button>
        {{/if}}
    </form>
</template>

<template name="formEvent">
    <form name="event">
        <div class="form-group">
            <input type="text" name="event-title" id="event-title" placeholder="Event Title" value="{{title}}"/>
        </div>
        <div class="form-group">
            <div class="input-group date start-date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" name="event-start-date" placeholder="Start Date" value="{{startDate}}" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group date end-date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" name="event-end-date" placeholder="End Date" value="{{endDate}}" class="form-control input-sm">
            </div>
        </div>
        <button class="btn btn-success btn-sm btn-block" type="submit"><i class="fa fa-check"></i> Save Event</button>
    </form>
</template>

<template name="tools">
    {{!-- Text --}}
    <div class="btn-group">
        <button type="button" class="entity-text btn btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-paragraph"></i> Add Text <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-form" role="menu">
            <form name="text">
                <textarea name="textContent" cols="20" rows="5"></textarea>
                <button class="btn btn-sm btn-success btn-block" type="submit"><i class="fa fa-check"></i> Submit</button>
            </form>
        </div>
    </div>
    {{!-- Media (images/videos/audios) --}}
    <div class="btn-group">
        <form name="media" class="form-inline">
            <div class="input-group">
                <input type="textfield" class="form-control input-sm" placeholder="Media URL" name="mediaUrl" />
                <div class="input-group-btn">
                    <select class="form-control input-sm" name="mediaFormat">
                        <option value="image/jpeg">Image (.jpg)</option>
                        <option value="video/flv">Video (flv)</option>``
                        <option value="video/fla">Video (fla)</option>
                    </select>
                    <button class="btn btn-sm" type="submit"><i class="fa fa-image"></i>  Add Media</button>
                </div>      
            </div>
        </form> 
    </div>    
    {{!-- Maps --}}
    <button type="button" class="entity-map btn btn-sm"><i class="fa fa-map-marker"></i> Add Map</button>
    {{!-- Timeline --}}
    <button type="button" class="entity-timeline btn btn-sm"><i class="fa fa-exchange"></i> Add Timeline</button>
    {{!-- Misc. --}}
    <button type="button" class="entity-group btn btn-sm"><i class="fa fa-folder-open-o"></i> Group</button>
</template>