<template name='freeform'>
    {{> entities}}
    <div id="board">
    {{#each renderedMediaItems}}
        {{ this.name }}
    {{/each}}
    {{#each provHadMember}}
        {{#with mediumWithAttribute}}
            {{> media}}
        {{/with}}
    {{/each}}
    {{!-- Ready the different relations related with the current media items --}}
    {{#each renderedMedia}}
        {{#with mediaRelative this}}
            {{ maintainRelations}}
         {{/with}} 
    {{/each}}

    {{!-- Once the media items have been rendered, draw the different relations between them --}}
    {{#if allMediaRendered}}
        {{#each relations}}
            {{#with relationDetails}}
                {{#if isConnected}}
                    {{ updateConnection annotation}}
                {{ else }}
                    {{ drawConnection annotation}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/if}}
    <div class="form-annotate">
        {{> formRelationAnnotate}}
    </div>
    
    </div>
</template>

<template name="entities">
    <button class="entity-map btn"><i class="fa fa-map-marker"></i> Add a map</button>
    <form name="media">
        <input type="textfield" placeholder="Media URL" name="mediaUrl" />
        <select name="mediaFormat">
            <option value="image/jpeg">Image (.jpg)</option>
        </select>
        <button class="btn" type="submit"><i class="fa fa-image"></i>  Add media</button>
    </form>
</template>

<template name="media">
    <div id="{{ this.medium.mrOrigin }}" class="wrapper-medium draggable" style="{{ pickStyles 'wrapper' }}">
        <div class="resizable" style="{{ pickStyles 'item' }}">
            {{#if isMedia mediaType 'image'}}
                <img class="item-medium" src="{{ this.medium.provAtLocation }}" />
            {{else}} {{#if isMedia mediaType 'map'}}
                {{> renderMap this.medium}}
            {{/if}}{{/if}}
        </div>
        <div class="connector"></div>
        {{#with this.medium}}
            {{> meta }}
        {{/with}}
    </div>
</template>

<template name="renderMap">
    <div id="{{this.mrOrigin}}-map" class="map"></div>
    {{#if mapReady}}
        {{#each markers}}
            hello 
            {{plot ..}}
        {{/each}}
    {{/if}}
</template>

<template name="meta">
    <div class="meta-medium">
        {{#if title}}
            <div class="media-title">{{title}}</div>
        {{/if}}
        <button class="btn btn-default btn-sm show-attributes"><i class="fa fa-info-circle"></i> Attributes</button>
        <div class="medium-attributes">
            {{#with this}}
                {{> formAttribute}}
            {{/with}}
            <ul class="attributes">
                {{#each attributes}}
                    <li>
                        {{#with detailsWithContext ..}}
                            {{> attributeItem}}
                        {{/with}}
                    </li>
                {{/each}}
            </ul>
        </div>    
    </div>
</template>

<template name="formAttribute">
    <form name="form-attribute">
        <input type="text" name="attrKey" placeholder="Label"/>
        <input type="text" name="attrValue" placeholder="Content"/>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus-circle"></i> Add Attribute</button>
    </form>
</template>

<template name="attributeItem">
    <i class="fa fa-minus-square-o remove-attribute"></i>
    <span class="label" data-key={{key}}>{{key}}</span> <span class="value">{{value}}</span>
</template>

<template name="formRelationAnnotate">
    <form>
        <input type="text" name="annotation-label" id="annotation-label" placeholder="Label"/>
        <input type="text" name="annotation-value" id="annotation-value" placeholder="Value"/>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus-circle"></i>Save Annotation</button>
        <input type="hidden" data-relation="" name="annotation-relation-id" />
    </form>
</template>